@model eNompilo.v3._0._1.Models.SystemUsers.PatientFile

@{
    ViewData["Title"] = "Edit";
}

<div class="margined-page pt-4" >

    <h2>PatientFile</h2>
    <hr />
    <div class="row">
        <div class="col-md-4" style="margin-left:auto;margin-right:auto;">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group mb-4">
                    <label asp-for="PatientId" class="control-label"></label>
                    <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
                    <span asp-validation-for="PatientId" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="MedicalHistoryId" class="control-label"></label>
                    <select asp-for="MedicalHistoryId" class="form-control" asp-items="ViewBag.MedicalHistoryId"></select>
                    <span asp-validation-for="MedicalHistoryId" class="text-danger"></span>
                </div>
                <div class="form-group form-check mb-4">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
                    </label>
                </div>
                <div class="form-group mb-4">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
