@using Microsoft.AspNetCore.Identity;
@using eNompilo.v3._0._1.Areas.Identity.Data;
@using eNompilo.v3._0._1.Constants;
@using eNompilo.v3._0._1.Models.SystemUsers;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eNompilo.v3._0._1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eNompilo.v3._0._1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="icon" type="image/x-icon" href="~/img/Adobe_Express_20230527_0911500_3_4496_-removebg-preview.png" />
</head>
<body style="display: flex; flex-direction:column;">
    <header style="opacity:0.9; z-index:2;">
        <nav class="navbar navbar-nav navbar-expand-lg navbar-toggleable navbar-light bg-white border-bottom box-shadow mb-5 shadow-lg position-fixed w-100" style="">
            <div class="container-fluid to-be-grayed">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/Adobe_Express_20230527_0911500_1[4494].png" alt="e-Nompilo" height="45"></a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarNavDropdown">
                    @if (User.IsInRole(RoleConstants.Patient))
                    {
                        <ul class="nav navbar-nav flex-grow-1 justify-content-center px-5 unaligned-text">
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="Index"><strong>Home</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="about-us"><strong>About Us</strong></a>
                            </li>
                            <li class="nav-item dropdown btn-group d-xs-flex justify-content-center" style="z-index:1010;">
                                <div class="d-inline-flex">
                                    <a class="nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="OurServices"><strong>Our Services</strong></a>
                                    <a class="nav-link nav-link-2 dropdown-toggle dd-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong></strong></a>
                                    <ul class="dropdown-menu position-absolute text-center border-0" style="right:auto;left:auto;">
                                        <li><a class="dropdown-item nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="OurServices" asp-fragment="counselling"><strong>Counselling</strong></a></li>
                                        <li><a class="dropdown-item nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="OurServices" asp-fragment="family-planning"><strong>Family Planning</strong></a></li>
                                        <li><a class="dropdown-item nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="OurServices" asp-fragment="gbv"><strong>Gender-Based Violence</strong></a></li>
                                        <li><a class="dropdown-item nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="OurServices" asp-fragment="specialized-medical-procedures"><strong>Specialized Medical Procedures</strong></a></li>
                                        <li><a class="dropdown-item nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="OurServices" asp-fragment="vaccination"><strong>Vaccination</strong></a></li>
                                    </ul>
                                </div>
                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link nav-link-2" asp-area="" asp-controller="GeneralAppointment" asp-action="Book"><strong>Book</strong></a>
                                </li>

                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link nav-link-2" asp-controller="Register" asp-action="Patient"><strong>Book</strong></a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="faq"><strong>FAQ</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" @* asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="contact" *@ href="#footer"><strong>Contact Us</strong></a>
                            </li>
                        </ul>
                    }

                    else if (User.IsInRole(RoleConstants.Admin))
                    {
                        <ul class="nav navbar-nav flex-grow-1 justify-content-center px-5 unaligned-text">
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="Index"><strong>Home</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" asp-area="" asp-controller="Users" asp-action="Index"><strong>Users</strong></a>
                            </li>
                        </ul>
                    }

                    else if (User.IsInRole(RoleConstants.Practitioner))
                    {
                        <ul class="nav navbar-nav flex-grow-1 justify-content-center px-5 unaligned-text">
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="Index"><strong>Home</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" asp-area="" asp-controller="GeneralAppointment" asp-action="Index"><strong>Pending Patient Appointment</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" asp-area="" asp-controller="PractitionerDiary" asp-action="Index"><strong>Confirmed Appointment</strong></a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav flex-grow-1 justify-content-center px-5 unaligned-text">
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="Index"><strong>Home</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="about-us"><strong>About Us</strong></a>
                            </li>

                            <li class="nav-item dropdown btn-group d-xs-flex justify-content-center" style="z-index:1010;">
                                <div class="d-inline-flex">
                                    <a class="nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="OurServices"><strong>Our Services</strong></a>
                                    <a class="nav-link nav-link-2 dropdown-toggle dd-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong></strong></a>
                                    <ul class="dropdown-menu position-absolute text-center border-0" style="right:auto;left:auto;">
                                        <li><a class="dropdown-item nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="OurServices" asp-fragment="counselling"><strong>Counselling</strong></a></li>
                                        <li><a class="dropdown-item nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="OurServices" asp-fragment="family-planning"><strong>Family Planning</strong></a></li>
                                        <li><a class="dropdown-item nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="OurServices" asp-fragment="gbv"><strong>Gender-Based Violence</strong></a></li>
                                        <li><a class="dropdown-item nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="OurServices" asp-fragment="specialized-medical-procedures"><strong>Specialized Medical Procedures</strong></a></li>
                                        <li><a class="dropdown-item nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="OurServices" asp-fragment="vaccination"><strong>Vaccination</strong></a></li>
                                    </ul>
                                </div>
                            </li>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link nav-link-2" asp-area="" asp-controller="GeneralAppointment" asp-action="Book"><strong>Book</strong></a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link nav-link-2" asp-controller="Register" asp-action="Patient"><strong>Book</strong></a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="faq"><strong>FAQ</strong></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-2" @* asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="contact" *@ href="#footer"><strong>Contact Us</strong></a>
                            </li>
                        </ul>
                    }


                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="" style="margin-top: 75px !important;">
        <main role="main" class="w-100">
            @RenderBody()
        </main>
    </div>
    <div class="stinky-feet" style="position:relative;">
        <footer id="footer" class="border-bottom footer align-items-start" style="background-color:#060b28; color:#ced4f8; padding-top: 20px;">
            <div class="container justify-content-center text-center" style="margin-top: 0; height:100%; margin-left:auto; margin-right:auto;">
                @*&copy; 2023 - Vaccination - <a asp-area="" asp-controller="Vaccination" asp-action="Privacy">Privacy</a>*@

                <img src="~/img/Adobe_Express_20230527_0911500_3_4496_-removebg-preview.png" alt="eNompilo" height="200" />
                <h3>With Us You Can!</h3>
            </div>
            <div class="container flex " style="line-height:30px; margin-top: 0; height:100%;">
                <div class="d-flex flex-column align-items-center">
                    <h3>Navigation</h3>
                    <div class="d-flex flex-column align-items-center pb-2">
                        <a asp-controller="Home" asp-action="Index" asp-fragment="">Home</a>
                        <a asp-controller="Home" asp-action="Index" asp-fragment="services">Our Services</a>
                        <a asp-controller="Home" asp-action="Emergencyhotlines">Emergency Hotlines</a>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a asp-area="" asp-controller="GeneralAppointment" asp-action="Book">Book</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Register" asp-action="Patient">Book</a>
                        }

                        <a href="#footer">Contact Us</a>
                        <a href="#faqs">FAQs</a>
                        <a asp-controller="Vaccination" asp-action="PrivacyandSecurity">Privacy and Security</a>
                    </div>

                </div>

            </div>
            <div class="container align-content-center" style="line-height:30px; margin-top:0; height:100%;">
                <div class="d-flex flex-column align-items-center">
                    <h3>Contact Us</h3>
                    <div class="d-flex flex-column align-items-center gap-0">
                        <a class="mail" href="tel:0451796357">0451796357</a>
                        <a class="mail" href="mailto:info@enompilo.co.za">info@enompilo.co.za</a>
                        <a class="mail" href="mailto:help@enompilo.co.za">admin@enompilo.co.za</a>
                        <div class="iconic"><i class="bi bi-linkedin"></i> <i class="bi bi-facebook"></i> <i class="bi bi-twitter"></i><i class="bi bi-whatsapp"></i> <i class="bi bi-microsoft-teams"></i></div>
                    </div>

                </div>

            </div>
            <div class="container align-content-center" style="line-height:30px; margin-top:0; height:100%;">
                <div class="d-flex flex-column align-items-center">
                    <h3>Our Services</h3>
                    <div class="d-flex flex-column align-items-center gap-0">
                        <a href="#">Counselling</a>
                        <a href="#">Family Planning</a>
                        <a href="#">Gender-Based Violence</a>
                        <a href="#">Specialized Medical Procedures</a>
                        <a href="#">Vaccination</a>
                    </div>

                </div>

            </div>

        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        new DataTable('#dtCouApp');
        new DataTable('#dtFamPlanApp');
        new DataTable('#dtGenApp');
        new DataTable('#dtPatient');
        new DataTable('#dtPatientFile');
        new DataTable('#dtPractitioner');
        new DataTable('#dtPractitionerDiary');
        new DataTable('#dtSession');
        new DataTable('#dtUsers');
        new DataTable('#dtVacApp');
        new DataTable('#dtHomePageApps');
        new DataTable('#dtPendingApps');
    </script>
</body>
</html>
