<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>eNompilo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/splash.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/img/Adobe_Express_20230527_0911500_3_4496_-removebg-preview.png" />
</head>
<body style="">
    <div>
        @RenderBody()
    </div>
</body>
</html>
