@model List<eNompilo.v3._0._1.Models.Message.Message>

@{
    ViewData["Title"] = "Inbox";
    Layout = "_DashboardLayout";
}

<div class="margined-page pt-4">
    <div class="container">
        <h2 class="text-center">Inbox</h2>
        <hr />

        <div class="row justify-content-center">
            <div class="col-md-8">
                <ul class="list-group">
                    @foreach (var message in Model)
                    {
                        <li class="list-group-item">
                            <a asp-action="Create" asp-route-id="@message.Id">
                                From: @message.SenderUser - @message.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div class="text-center mt-3">
            <a asp-controller="Family" asp-action="IndexList">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
