
@{
    ViewData["Title"] = "Message-Sent";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<body>
    <div class="text-center">
        <h1>Message Sent Successfully</h1>
        <a asp-controller="Family" asp-action="Index"  class="btn btn-primary">Return to Dashboard</a>

    </div>

</body>
