@model eNompilo.v3._0._1.Models.GeneralAppointment
@using Microsoft.AspNetCore.Identity;
@using System.Collections;
@using eNompilo.v3._0._1.Constants;
@using eNompilo.v3._0._1.Models.SystemUsers;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IHttpContextAccessor contextAccessor
@inject eNompilo.v3._0._1.Areas.Identity.Data.ApplicationDbContext _context

@{
	ViewData["Title"] = "Book";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";

	var patient = _context.tblPatient.Select(p => new SelectListItem
			{
				Value = p.Id.ToString(),
				Text = p.FirstName + " " + p.LastName + " (" + p.IdNumber + ")",
			}).ToList();
	var practitioner = _context.tblPractitioner.Select(p => new SelectListItem
			{
				Value = p.Id.ToString(),
				Text = p.Users.FirstName + " " + p.Users.LastName + " (" + p.PractitionerType.GetDisplayName() + ")",
				/*Text = "(" + Enum.GetName(typeof(Titles), p.Users.Titles) + ".) " + p.Users.FirstName + " " + p.Users.LastName,*/
			}).ToList();

	var practitionerValue = 0;
	@if (User.IsInRole(RoleConstants.Practitioner)) { practitionerValue = _context.tblPractitioner.Where(p => p.UserId == UserManager.GetUserAsync(User).Result.Id).FirstOrDefault().Id; }
}
@if (SignInManager.IsSignedIn(User))
{
	<div class="margined-page pt-4">

		<h2>Book an Appointment</h2>
		<hr />
		<div class="row d-flex align-items-center">
			@if (User.IsInRole(RoleConstants.Patient))
			{
				<div class="col-md-4" style="margin-left:auto;margin-right:auto;">
					<form asp-action="Book" method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-group mb-4">
							<label asp-for="PatientIssues" class="control-label"></label>
							<textarea asp-for="PatientIssues" class="form-control"></textarea>
							<span asp-validation-for="PatientIssues" class="text-danger"></span>
						</div>
						<div class="form-group mb-4">
							<label asp-for="PreferredDate" class="control-label"></label>
							<input id="dateof" asp-for="PreferredDate" type="date" class="form-control" />
							<span asp-validation-for="PreferredDate" class="text-danger"></span>
						</div>
						<div class="form-group mb-4">
							<label asp-for="PreferredTime" class="control-label"></label>
							<input id="timeof" asp-for="PreferredTime" type="time" class="form-control" min="08:00" max="15:00" />
							<span asp-validation-for="PreferredTime" class="text-danger"></span>
						</div>
						<div class="form-group mb-4" hidden>
							<label asp-for="PatientId" class="control-label"></label>
							<input asp-for="PatientId" class="form-control" value="@_context.tblPatient.Where(p=>p.UserId == UserManager.GetUserAsync(User).Result.Id).FirstOrDefault().Id" />
						</div>
						<div class="form-group mb-4">
							<input type="submit" value="Create" class="btn btn-primary" />
						</div>
					</form>
				</div>
			}
			else if (User.IsInRole(RoleConstants.Practitioner))
			{
				<div class="col-md-4" style="margin-left:auto;margin-right:auto;">
					<form asp-action="Book" method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-group mb-4">
							<label asp-for="PatientIssues" class="control-label"></label>
							<textarea asp-for="PatientIssues" class="form-control"></textarea>
							<span asp-validation-for="PatientIssues" class="text-danger"></span>
						</div>
						<div class="form-group mb-4">
							<label asp-for="PreferredDate" class="control-label"></label>
							<input id="dateof" asp-for="PreferredDate" type="date" class="form-control" />
							<span asp-validation-for="PreferredDate" class="text-danger"></span>
						</div>
						<div class="form-group mb-4">
							<label asp-for="PreferredTime" class="control-label"></label>
							<input id="timeof" asp-for="PreferredTime" type="time" class="form-control" min="08:00" max="15:00" />
							<span asp-validation-for="PreferredTime" class="text-danger"></span>
						</div>
						@*>>>>>>>>>>>>*@
						<div class="form-group mb-4">
							<label asp-for="Patient" class="control-label"></label>
							<select asp-for="PatientId" id="selectedPatient" class="form-control" asp-items="@(new SelectList(patient, "Value", "Text"))">
								<option disabled selected hidden>Please select an option</option>
							</select>
							<span asp-validation-for="PatientId" class="text-danger"></span>
						</div>
						<div class="form-group mb-4">
							<label asp-for="Practitioner" class="control-label"></label>
							<select asp-for="PractitionerId" id="selectedPractitioner" class="form-control" asp-items="@(new SelectList(practitioner, "Value","Text"))">
								<option disabled selected hidden>Please select an option</option>
							</select>
							<span asp-validation-for="PractitionerId" class="text-danger"></span>
						</div>

						<span hidden id="practIdVal">@practitionerValue</span>

						<div class="form-group form-check mb-4" id="confirm" style="display:none;">
							<label class="form-check-label">

								Are you confirming this session with your patient <span id="patientName"></span>?
								<input class="form-check-input" asp-for="SessionConfirmed" />
							</label>
						</div>
						<div class="form-group mb-4">
							<input type="submit" value="Create" class="btn btn-primary" />
						</div>
					</form>
				</div>
			}

		</div>

		<div>
			<a asp-action="Index">Back to Home</a>
		</div>
	</div>
}


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	@*>>>>>>>>>>>>*@
	<script>

		window.onload = function () {
		var patientDdl = document.getElementById('selectedPatient')
		var practitionerDdl = document.getElementById('selectedPractitioner')


		patientDdl.addEventListener('change', function () {
			var selectedText = this.options[this.selectedIndex].text;
			document.getElementById('patientName').textContent = selectedText;
		});

		practitionerDdl.addEventListener('change', function () {
			var selectedValue = this.options[this.selectedIndex].value.toString();
			var practValue = document.getElementById('practIdVal').innerText
			//alert(selectedValue + " " + practValue); //here for debugging purposes
			if (selectedValue === practValue) {
				document.getElementById('confirm').style.display = "block";
			}
			else {
				document.getElementById('confirm').style.display = "none";
			}
			});
			practitionerDdl.dispatchEvent(new Event('change'));
		}
	</script>
	@*>>>>>>>>>>>>*@

}
