@using eNompilo.v3._0._1.Models.Family_Planning;
@{
    Layout = "_DashboardLayout";
}
<br />
<br />
<h3 class="text-center">Contraceptive types and effective years</h3>
<br />
<div class="card-container" style="display:flex;justify-content:center">
    <p class="text">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-transparent">IUD (Merena) 5 years</li>
            <li class="list-group-item bg-transparent">IUD (Copper) 10 years</li>
            <li class="list-group-item bg-transparent">Implant 3 years</li>
            <li class="list-group-item bg-transparent">Injection 3 months</li>
            <li class="list-group-item bg-transparent">Ring 3 weeks</li>
            <li class="list-group-item bg-transparent">Patch 1 week</li>
            <li class="list-group-item bg-transparent">Oral contraceptive 28 days</li>
        </ul>
    </p>
</div>
<br />
<br />
<h3 class="text-center">Pre-existing conditions that prohibit a patient from taking a certain contraceptive explained</h3>
<br />
<div class="card-container">
    <p>
        <ul class="list-group list-group-numbered list-group-flush">
            <li class="list-group-item bg-transparent">
                Oral contraceptives (Combination oral contraceptives - COCs):<br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• History of blood clots or thromboembolic disorders.</li>
                        <li class="list-group-item bg-transparent">• Cardiovascular conditions (e.g., certain heart or vascular conditions, uncontrolled high blood pressure, history of heart attacks).</li>
                        <li class="list-group-item bg-transparent">• Liver disease or impaired liver function.</li>
                        <li class="list-group-item bg-transparent">• Estrogen-sensitive cancers (e.g., certain types of breast cancer).</li>
                        <li class="list-group-item bg-transparent">• Migraine with aura.</li>
                        <li class="list-group-item bg-transparent">• Allergies to contraceptive components, such as estrogen or progestin.</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item  bg-transparent">
                Intrauterine Device - Mirena (IUD):  <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Active pelvic inflammatory disease (PID) or current pelvic infection.</li>
                        <li class="list-group-item bg-transparent">• Unexplained vaginal bleeding.</li>
                        <li class="list-group-item bg-transparent">• Certain uterine abnormalities.</li>
                        <li class="list-group-item bg-transparent">• Pregnancy (IUDs are not recommended during pregnancy).</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item  bg-transparent">
                Intrauterine Device - Copper (IUD):
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Allergy to copper (very rare).</li>
                        <li class="list-group-item bg-transparent">• Active pelvic inflammatory disease (PID) or current pelvic infection.</li>
                        <li class="list-group-item bg-transparent">• Unexplained vaginal bleeding.</li>
                        <li class="list-group-item bg-transparent">• Pregnancy (IUDs are not recommended during pregnancy).</li>
                        <li class="list-group-item bg-transparent">• Certain uterine abnormalities.</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item  bg-transparent">
                Injections (e.g., Depo-Provera):
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Allergy to the components of the injection.</li>
                        <li class="list-group-item bg-transparent">• History of blood clots or thromboembolic disorders.</li>
                        <li class="list-group-item bg-transparent">• Certain liver conditions.</li>
                        <li class="list-group-item bg-transparent">• Unexplained vaginal bleeding.</li>
                        <li class="list-group-item bg-transparent">• Estrogen-sensitive cancers.</li>
                        <li class="list-group-item bg-transparent">• Current or past liver tumors.</li>
                        <li class="list-group-item bg-transparent">• Known or suspected pregnancy</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Patches:  <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Allergy to the adhesive components of the patch.</li>
                        <li class="list-group-item bg-transparent">• History of blood clots or thromboembolic disorders.</li>
                        <li class="list-group-item bg-transparent">• Certain liver conditions.</li>
                        <li class="list-group-item bg-transparent">• Uncontrolled high blood pressure.</li>
                        <li class="list-group-item bg-transparent">• History of certain types of cancer.</li>
                        <li class="list-group-item bg-transparent">• Migraine with aura.</li>
                        <li class="list-group-item bg-transparent">• Certain heart or vascular conditions.</li>
                        <li class="list-group-item bg-transparent">• Smoking while over the age of 35</li>
                        <li class="list-group-item bg-transparent">• Known or suspected pregnancy</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Implant (e.g., Nexplanon):
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Allergy to the components of the implant.</li>
                        <li class="list-group-item bg-transparent">• History of blood clots or thromboembolic disorders.</li>
                        <li class="list-group-item bg-transparent">• Certain liver conditions.</li>
                        <li class="list-group-item bg-transparent">• Unexplained vaginal bleeding.</li>
                        <li class="list-group-item bg-transparent">• Estrogen-sensitive cancers.</li>
                        <li class="list-group-item bg-transparent">• Current or past liver tumors.</li>
                        <li class="list-group-item bg-transparent">• Known or suspected pregnancy.</li>

                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Contraceptive Ring:<br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Allergy to the components of the ring.</li>
                        <li class="list-group-item bg-transparent">• History of blood clots or thromboembolic disorders.</li>
                        <li class="list-group-item bg-transparent">• Certain liver conditions.</li>
                        <li class="list-group-item bg-transparent">• Uncontrolled high blood pressure.</li>
                        <li class="list-group-item bg-transparent">• History of certain types of cancer.</li>
                        <li class="list-group-item bg-transparent">• Migraine with aura.</li>
                        <li class="list-group-item bg-transparent">• Certain heart or vascular conditions.</li>
                        <li class="list-group-item bg-transparent">• Smoking while over the age of 35.</li>
                        <li class="list-group-item bg-transparent">• Known or suspected pregnancy.</li>
                    </ul>
                </p>
            </li>            
        </ul>
        <br />
        <br />
        <h3 class="text-center">
            Prescribed medication that interfere with contraceptive effectiveness explained
        </h3>
        <br />
        <ul class="list-group list-group-numbered list-group-flush">
            <li class="list-group-item bg-transparent">
                Oral contraceptives (combination pills):
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Antiepileptic drugs (e.g., phenytoin, carbamazepine, phenobarbital)</li>
                        <li class="list-group-item bg-transparent">• Certain antibiotics (e.g., rifampin, rifabutin)</li>
                        <li class="list-group-item bg-transparent">• Antifungal medications (e.g., griseofulvin)</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Intrauterine device (IUD) - Mirena (levonorgestrel-releasing IUD):  <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">
                            • There are limited medication interactions specific to the Mirena IUD. However, it's essential to inform your healthcare provider medications you are taking to ensure there are no potential issues.
                        </li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Intrauterine device (IUD) - Copper IUD:
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Medications typically do not interfere with the effectiveness of the copper IUD</li>
                    </ul>
                </p>
            </li><li class="list-group-item  bg-transparent">
                Contraceptive injections (e.g., Depo-Provera):
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Certain anticonvulsant medications</li>
                        <li class="list-group-item bg-transparent">• Some antiretroviral medications for HIV treatment</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Contraceptive patch:  <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Antifungal medications</li>
                        <li class="list-group-item bg-transparent">• Certain antibiotics</li>
                        <li class="list-group-item bg-transparent">• Some antiepileptic drugs</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Contraceptive implant (e.g., Nexplanon):  <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Certain anticonvulsant medications</li>
                        <li class="list-group-item bg-transparent">• Some antiretroviral medications</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Contraceptive vaginal ring:  <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Some antiepileptic drugs</li>
                        <li class="list-group-item bg-transparent">• Certain antibiotics</li>
                        <li class="list-group-item bg-transparent">• Antifungal medications</li>
                    </ul>
                </p>
            </li> 
        </ul>
        <h3 class="text-center">
            Prescribed Medication that Interferes with Contraceptive Effectiveness Explained
        </h3>
        <br />
        <ul class="list-group list-group-numbered list-group-flush">
            <li class="list-group-item bg-transparent">
                Oral Contraceptives (Combination Pills):
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Antiepileptic drugs (e.g., phenytoin, carbamazepine, phenobarbital)</li>
                        <li class="list-group-item bg-transparent">• Certain antibiotics (e.g., rifampin, rifabutin)</li>
                        <li class="list-group-item bg-transparent">• Antifungal medications (e.g., griseofulvin)</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Intrauterine Device (IUD) - Mirena (Levonorgestrel-Releasing IUD):
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• There are limited medication interactions specific to the Mirena IUD. However, it's essential to inform your healthcare provider of medications you are taking to ensure there are no potential issues.</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Intrauterine Device (IUD) - Copper IUD:
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Medications typically do not interfere with the effectiveness of the copper IUD.</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Contraceptive Injections (e.g., Depo-Provera):
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">• Certain anticonvulsant medications</li>
                        <li class="list-group-item bg-transparent">• Some antiretroviral medications for HIV treatment</li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Contraceptive Patch:
                <br />
                <p>
                    <ul class"list-group list-group">
                        <li class="list-group-item bg-transparent">• Antifungal medications</li>
                        <li class="list-group-item bg-transparent">• Certain antibiotics</li>
                        <li class="list-group-item bg-transparent">• Some antiepileptic drugs</li>
                    </ul>
                </p>
            </li>
        </ul>

        <h3 class="text-center">
            Pros & Cons of Contraceptives
        </h3>
        <br />
        <ul class="list-group list-group-numbered list-group-flush">
            <li class="list-group-item bg-transparent">
                Oral Contraceptives (Combination Pills):
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">
                            <strong>Pros:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- Highly effective when taken correctly.</li>
                                <li class="list-group-item bg-transparent">- Can provide non-contraceptive benefits such as reduced menstrual cramps, lighter periods, and improved acne.</li>
                                <li class="list-group-item bg-transparent">- Reversible method.</li>
                                <li class="list-group-item bg-transparent">- Some formulations allow for extended or continuous cycling, reducing the frequency of periods.</li>
                            </ul>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <strong>Cons:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- Must be taken daily at the same time.</li>
                                <li class="list-group-item bg-transparent">- Potential side effects like nausea, breast tenderness, and mood changes.</li>
                                <li class="list-group-item bg-transparent">- Increased risk of blood clots, particularly in women with certain health conditions.</li>
                                <li class="list-group-item bg-transparent">- Does not protect against sexually transmitted infections (STIs).</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Intrauterine Device (IUD) - Mirena (Levonorgestrel-Releasing IUD):
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">
                            <strong>Pros:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- Highly effective with a low failure rate.</li>
                                <li class="list-group-item bg-transparent">- Long-acting reversible contraception (effective for up to 5 years).</li>
                                <li class="list-group-item bg-transparent">- Decreases menstrual flow and may reduce menstrual pain.</li>
                                <li class="list-group-item bg-transparent">- Rapid return to fertility after removal.</li>
                            </ul>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <strong>Cons:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- Requires insertion by a healthcare provider.</li>
                                <li class="list-group-item bg-transparent">- Potential side effects such as irregular bleeding, spotting, or cramping.</li>
                                <li class="list-group-item bg-transparent">- Rare risks include perforation of the uterus during insertion and expulsion of the IUD.</li>
                                <li class="list-group-item bg-transparent">- Does not protect against STIs.</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Intrauterine Device (IUD) - Copper IUD:
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">
                            <strong>Pros:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- Highly effective with a low failure rate.</li>
                                <li class="list-group-item bg-transparent">- Long-acting reversible contraception (effective for up to 10 years).</li>
                                <li class="list-group-item bg-transparent">- Non-hormonal option.</li>
                                <li class="list-group-item bg-transparent">- Rapid return to fertility after removal.</li>
                            </ul>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <strong>Cons:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- Requires insertion by a healthcare provider.</li>
                                <li class="list-group-item bg-transparent">- Can lead to heavier and longer periods with increased cramping.</li>
                                <li class="list-group-item bg-transparent">- Rare risks include perforation of the uterus during insertion and expulsion of the IUD.</li>
                                <li class="list-group-item bg-transparent">- Does not protect against STIs.</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item  bg-transparent">
                Contraceptive Injections (e.g., Depo-Provera):
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">
                            <strong>Pros:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- Highly effective with a low failure rate.</li>
                                <li class="list-group-item bg-transparent">- Long-acting reversible contraception (effective for up to 3 months).</li>
                                <li class="list-group-item bg-transparent">- No daily pill-taking required.</li>
                            </ul>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <strong>Cons:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- Requires regular visits for injections.</li>
                                <li class="list-group-item bg-transparent">- Irregular bleeding or spotting is common.</li>
                                <li class="list-group-item bg-transparent">- Potential delay in return to fertility after discontinuation.</li>
                                <li class="list-group-item bg-transparent">- May cause changes in bone density with long-term use.</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Contraceptive Patch:
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">
                            <strong>Pros:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- Convenient application and removal.</li>
                                <li class="list-group-item bg-transparent">- Weekly application (changed once a week).</li>
                                <li class="list-group-item bg-transparent">- Non-contraceptive benefits similar to combination pills.</li>
                            </ul>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <strong>Cons:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- May cause skin irritation at the patch application site.</li>
                                <li class="list-group-item bg-transparent">- Potential side effects like nausea, breast tenderness, and mood changes.</li>
                                <li class="list-group-item bg-transparent">- Increased risk of blood clots, particularly in women with certain health conditions.</li>
                                <li class="list-group-item bg-transparent">- Does not protect against STIs.</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Contraceptive Implant (e.g., Nexplanon):
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">
                            <strong>Pros:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- Highly effective with a low failure rate.</li>
                                <li class="list-group-item bg-transparent">- Long-acting reversible contraception (effective for up to 3 years).</li>
                                <li class="list-group-item bg-transparent">- Non-pill option.</li>
                                <li class="list-group-item bg-transparent">- Rapid return to fertility after removal.</li>
                            </ul>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <strong>Cons:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- Requires insertion by a healthcare provider.</li>
                                <li class="list-group-item bg-transparent">- Potential side effects such as irregular bleeding or spotting.</li>
                                <li class="list-group-item bg-transparent">- Rare risks include infection at the insertion site and migration or breakage of the implant.</li>
                                <li class="list-group-item bg-transparent">- Does not protect against STIs.</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </li>
            <li class="list-group-item bg-transparent">
                Contraceptive Vaginal Ring:
                <br />
                <p>
                    <ul class="list-group list-group">
                        <li class="list-group-item bg-transparent">
                            <strong>Pros:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- Convenient to use (inserted into the vagina and left in place for 3 weeks).</li>
                                <li class="list-group-item bg-transparent">- Lower hormone dosage compared to combination pills.</li>
                                <li class="list-group-item bg-transparent">- Non-contraceptive benefits similar to combination pills.</li>
                            </ul>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <strong>Cons:</strong>
                            <ul class="list-group list-group">
                                <li class="list-group-item bg-transparent">- May cause vaginal discomfort or discharge.</li>
                                <li class="list-group-item bg-transparent">- Potential side effects like nausea, breast tenderness, and mood changes.</li>
                                <li class="list-group-item bg-transparent">- Increased risk of blood clots, particularly in women with certain health conditions.</li>
                                <li class="list-group-item bg-transparent">- Does not protect against STIs.</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </li>
        </ul>

    </p>
</div>





