@using eNompilo.v3._0._1.Models.Family_Planning;
@inject IHttpContextAccessor contextAccessor;

@{
    Layout = "_DashboardLayout";
}
<br />
<br />
@if(TempData["r"] != null)
{
    <div class="alert alert-danger">
        <p>@TempData["r"]</p>
    </div>
}
<br />


@model SelectedCondition
<div class="card-container" style="display:flex;justify-content:center">
     <div class="card login-logout-card" style="width:40%;border-radius:40px;"> 
        <div class="card-img" style="text-align:center; padding-top:20px">
            <a asp-controller="Home" asp-action="Index"><img src="~/img/Adobe_Express_20230527_0911500_1[4494].png" style="width:150px;" class="auth-image" /></a>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-10 my-4">
                    <div class="row">
                        <div class="col-12">
                            <section>
                                <div class="text-center">
                                    <p>Select Pre-Existing Conditions</p>
                                </div>
                                
                                <form asp-action="PatientSymptom" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="form-floating">
                                                @Html.DropDownListFor(model => model.ConditionDescription, ViewBag.Select as SelectList, new { @class = "form-control border-effect"})
                                                <label asp-for="ConditionDescription" class="form-label text-primary"></label>
                                                <span asp-validation-for="ConditionDescription" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-auto" style="display:flex;align-items:center">
                                            <button type="submit" class="w-100 btn btn-sm btn-success">Add</button>
                                        </div>
                                    </div>
                                    
                                    <input asp-for="PatientID" value="@contextAccessor.HttpContext.Session.GetString("user_id")" hidden />
                                    <input asp-for="ConditionDescription" value="qw" hidden/>
                                    <br />
                                    <ul class="list-group list-group-flush">
                                        @await Html.PartialAsync("ConditionSelected", (List<SelectedCondition>) @ViewBag.Conditions)
                                    </ul>
                                    <div>
                                        <a asp-action="AddPatientSymptom" class="w-100 btn btn-lg btn-primary">Submit</a>
                                    </div>

                                </form>
                            </section>
                        </div>
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
