
@{
    ViewData["Title"] = "SelectContraceptive";
    Layout = "_DashboardLayout";
}

@model SelectDates
@using eNompilo.v3._0._1.Models.Family_Planning;
<br />
<br />
<br />
<div class="card-container" style="display:flex;justify-content:center">
    <div class="card login-logout-card" style="width:25%;border-radius:40px;">
        <div class="card-img" style="text-align:center; padding-top:20px">
            <a asp-controller="Home" asp-action="Index"><img src="~/img/Adobe_Express_20230527_0911500_1[4494].png" style="width:150px;" class="auth-image" /></a>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-10 my-4">
                    <div class="row">
                        <div class="col-12">
                            <section>
                                <form asp-action="SelectDate" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating">
                                        <input asp-for="Date" type="date" class="form-control border-effect" required value="@DateTime.Now" aria-required="true" />
                                        <label asp-for="Date" class="form-label text-primary">Date</label>
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div><br />
                                    
                                    <br />
                                    <input asp-for="Reason" value="@Model.Reason.ToString()"  hidden />
                                    <input asp-for="UserID" value="@Model.UserID.ToString()" hidden />
                                    <div>
                                        <button type="submit" class="w-100 btn btn-lg btn-primary">Continue</button>
                                    </div>

                                </form>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

