@{
    ViewData["Title"] = "Emergency Line";
}

<div style="padding-top:30px;">
    <h1> Rapid Response Healthcare Hotlines</h1>
    <br />
    <img src="~/img/ambulance (1).jpg" alt="emergency" class="center" style="width:100%;" />
    <br />
</div>


<div style="margin-top:40px;">
    <div class="margined-page" style="margin-bottom:40px;">
        <ol>
            <li class="mb-3">
                <h5>Emergency Services(Police, Ambulance, Fire): <a class="emergency" href="tel:10111">10111</a> </h5> 
                This is the general emergency number in South Africa that connects you to police, ambulance, and fire services.
            </li>

            <li class="mb-3">
                <h5>Medical Emergencies: <a class="emergency" href="tel:10177">10177</a></h5>
                This number is dedicated to medical emergencies and connects you to ambulance services.
            </li>

            <li class="mb-3">
                <h5>Poison Control Hotline: <a class="emergency" href="tel:0861 555 777">0861 555 777</a></h5>
                This hotline provides information and assistance in cases of poisoning.
            </li class="mb-3">

            <li class="mb-3">
                <h5>National AIDS Helpline: <a class="emergency" href="tel:0800 012 322" >0800 012 322</a></h5>
                This helpline offers information and support related to HIV/AIDS.
            </li>

            <li class="mb-3">
                <h5>TB/HIV Care Helpline: <a class="emergency" href="tel:0800 012 322">0800 012 322</a></h5>
                This helpline provides information, counseling, and support for TB and HIV/AIDS.
            </li>

            <li class="mb-3">
                <h5>South African Depression and Anxiety Group (SADAG): <a class="emergency" href="tel:0800 567 567" >0800 567 567</a></h5>
                SADAG offers support and assistance for mental health concerns, including depression and anxiety.
            </li>

            <li class="mb-3">
                <h5>Crisis Helpline: <a class="emergency" href="tel:0861 322 322">0861 322 322</a></h5>
                This helpline offers counseling and support for individuals in crisis or struggling with emotional distress.
            </li>

            <li class="mb-3">
                <h5>Sexual Assault Crisis Helpline: <a class="emergency" href="tel:0800 150 150">0800 150 150</a></h5>
                This helpline provides support for survivors of sexual assault and abuse.
            </li>

            <li class="mb-3">
                <h5>Diabetes South Africa Helpline: <a class="emergency" href="tel:0861 000 110">0861 000 110</a></h5>
                This helpline offers information and support for individuals with diabetes.
            </li>

            <li class="mb-3">
                <h5>Childline South Africa: <a class="emergency" href="tel:0800 055 555">0800 055 555</a></h5>
                Childline is a helpline for children and teenagers in need of counseling, support, or reporting abuse.
            </li>

            <li class="mb-3">
                <h5>Alcoholics Anonymous South Africa: <a class="emergency" href="tel:0861 435 722">0861 435 722</a></h5>
                This helpline provides support for individuals dealing with alcohol addiction.
            </li>

            <li class="mb-3">
                <h5>Narcotics Anonymous South Africa: <a class="emergency" href="tel:083 900 69 62">083 900 69 62</a></h5>
                This helpline provides support for individuals dealing with drug addiction.
            </li>

            <li class="mb-3">
                <h5>Hospice Palliative Care Association of South Africa: <a class="emergency" href="tel:0861 435 722">0861 435 722</a></h5>
                This association offers information and support for individuals dealing with terminal illnesses and their families.
            </li>
        </ol>
    </div>
    

    <div style="margin-right:0px; margin-left:0px; background:#ced4f8;">
        <div style="padding-top:10px; padding-bottom:60px; padding-top:60px;" class="margined-page">
            <h6 class="mb-3">
                Rapid access to the proper resources might be crucial in emergency or urgent medical conditions.
                When you need it most, you can get quick assistance and support from the emergency hotlines on the list above.
                How to maximize these numbers is as follows:
            </h6>
            <br />
            <ol>
                <li class="mb-3">
                    <strong>Stay Calm: </strong>In any emergency, try to remain as calm as possible. This will help you communicate your
                    situation clearly and receive the assistance you need.
                </li>

                <li class="mb-3">
                    <strong>Choose the Right Number: </strong> Depending on the nature of the emergency, dial the appropriate hotline.
                    For medical issues, call the medical emergencies or poison control hotline. For crime-related matters, reach out to the relevant authorities.
                </li>

                <li class="mb-3">
                    <strong>Provide Essential Information: </strong>When you make the call, be ready to provide important details such
                    as your location, the nature of the emergency, and any relevant information that can help responders assist you more effectively.
                </li>

                <li class="mb-3">
                    <strong>Follow Instructions: </strong>The operators on the other end are trained to guide you through the situation.
                    Listen carefully, follow their instructions, and answer any questions they may have.
                </li>

                <li class="mb-3">
                    <strong>Stay on the Line: </strong>Don't hang up until the operator tells you to do so. They might need additional
                    information or need to ensure that help has arrived.
                </li>

                <li class="mb-3">
                    <strong>Share with Others: </strong>Share these emergency hotline numbers with your friends, family, and colleagues.
                    It's important for everyone to be aware of these resources and how to use them.
                </li>
            </ol>

            <h6>
                Remember that these hotlines are available 24 hours a day, seven days a week, so call anytime you have an emergency.
                Your safety and well-being are our top priorities, and these numbers are here to assist you.
            </h6>
        </div>
    </div>
    
</div>