@{
    ViewData["Title"] = "OurServices";
}

<!-- Welcome -->

<div class="container-fluid">
    <div class=" pb-4 pt-4 text-dark">
        <h1>Welcome to e-Nompilo</h1>
        <p class ="margined-page">
            At E-nompilo Healthcare Centre, we are committed to providing comprehensive
            and compassionate healthcare services to our community.
            Our state-of-the-art facility is equipped with the latest technology
            and staffed by a team of dedicated healthcare professionals who are here
            to support your well-being. We offer a wide range of services, all
            optimized to cater to your specific healthcare needs.
        </p>
	</div>
	<!-- Counselling -->
    <div class="row pt-4 pb-4" id="counselling" style="background:#ced4f8; overflow-x:hidden;">
        <div class="col margined-page image-text-section" style="display: flex; justify-content: center; align-items: center;">
            <img class="" src="~/img/our-services/counselling.jpg" style=" width:100%;" />

        </div>
        <div class="col-md-6 image-text-section" style="overflow-y:auto;">

            <h3 class="pt-5">Counselling</h3>
            <p>
                Our team of experienced counselors provides a safe and supportive environment for individuals, couples, and families. Our counseling services include the following.
            </p>

            <strong> Individual Counseling </strong>
            <p>
                Tailored support for personal challenges and growth.
            </p>
            <strong>Couples Counseling </strong>
            <p>Strengthen your relationship and communication with your partner. </p>
            <strong>Family Therapy </strong>
            <p>Resolve conflicts and improve family dynamics. </p>
            <strong>Trauma & Grief Counseling</strong>
            <p>Compassionate assistance for coping with trauma and loss. </p>
            <strong>Anxiety & Stress Management</strong>
            <p> Learn techniques to manage anxiety and stress effectively. </p>
            <strong>Depression & Mood Disorder</strong>
            <p> Support and strategies for those facing mood-related challenges. </p>
            <strong>LGBTQ+ Support </strong>
            <p>Inclusive and affirming counseling for the LGBTQ+ community.</p>

        </div>
	</div>
	<!-- Family planning -->
    <div class="row white-bg row pt-4 pb-4" id="family-planning">
        <div class="col margined-page image-text-section">

            <h3 class="pt-5">Family Planning Services</h3>
            <p> At E-nompilo Healthcare Centre, we understand the importance of family planning and offer a variety of options to help you make the right choice for your family's future. Our family planning services include the following. </p>

            <strong>IUD (Merena) 5 Years</strong>
            <p>A long-acting and reversible contraception method that offers up to 5 years of protection. </p>

            <strong>IUD (Copper) 10 Years</strong>

            <p>A highly effective and long-lasting contraceptive option that provides up to 10 years of protection. </p>

            <strong>Implant 3 Years</strong>

            <p>A discreet and reliable contraceptive implant that lasts for up to 3 years.</p>

            <strong>Injection 3 Months</strong>

            <p>Convenient and effective birth control through regular injections. </p>

            <strong>Ring 3 Weeks</strong>

            <p>A hormonal birth control ring that you replace every 3 weeks. </p>

            <strong>Patch 1 Week</strong>

            <p>A contraceptive patch that you change weekly.</p>

            <strong>Oral Contraceptive 28 Days</strong>

            <p>Traditional birth control pills taken daily for 28 days. </p>
        </div>
        <div class="col margined-page image-text-section" style="display: flex; justify-content: center; align-items: center;">
            <img src="~/img/our-services/fp.jpg" style="" />

        </div>
    </div>

	<!-- GBV -->
    <div class="row  pt-4 pb-4" id="gbv" style="background:#ced4f8;">
        <div class="col margined-page image-text-section" style="display: flex; justify-content: center; align-items: center;">
            <img src="~/img/Screenshot (200).png" />

        </div>
        <div class="col margined-page image-text-section">

            <h3 class="pt-5">Gender-Based Violence Support</h3>
            <p>
                At E-nompilo Healthcare Centre, we are dedicated to providing support for survivors of gender-based violence. Our services include the following.
            </p>

            <strong> GBV victim Support Group</strong>
            <p>
                A safe space for survivors to share and heal.
            </p>
            <strong>GBV Individual Counseling</strong>
            <p>Confidential counseling to help survivors cope and recover. </p>
            <strong>GBV Awareness </strong>
            <p>We actively work to raise awareness and combat gender-based violence in our community. </p>
            <strong>GBV education</strong>
            <p>We conduct through questionnaires and assessments. </p>


        </div>
    </div>

	<!-- Medical Procedures -->
    <div class="row white-bg  pt-4 pb-4" id="specialized-medical-procedures">
        <div class="col margined-page image-text-section">

            <h3 class="pt-5">Medical Procedures</h3>


            <p> At E-nompilo Healthcare Centre, your well-being is our top priority. Our Medical Procedures are conducted with the utmost precision and care, offering a range of essential services, including the following. </p>

            <a asp-action="SpecialisedMedicalProcedures" asp-controller="Home" asp-fragment="Infections" class="link-dark text-decoration-none"><strong>Treatment of Minor Infections</strong></a>
            <p>Prompt and effective care for common infections, ensuring your swift recovery.
                </p>

            <a asp-action="SpecialisedMedicalProcedures" asp-controller="Home" asp-fragment="wounds" class="link-dark text-decoration-none"><strong>Wound Dressing</strong></a>

            <p>Our expert wound care team provides meticulous dressing changes for optimal healing.</p>

            <a asp-action="SpecialisedMedicalProcedures" asp-controller="Home" asp-fragment="antenatal" class="link-dark text-decoration-none"><strong>Antenatal Care For Women</strong></a>

            <p>
                Comprehensive prenatal care to support the health of expectant mothers and their babies.
            </p>

            <a asp-action="SpecialisedMedicalProcedures" asp-controller="Home" asp-fragment="suturing" class="link-dark text-decoration-none"><strong>Suturing</strong></a>

            <p>
                Skilled suturing techniques and gentle removal of sutures for wound closure and healing.
            </p>

            <a asp-action="SpecialisedMedicalProcedures" asp-controller="Home" asp-fragment="blood" class="link-dark text-decoration-none"><strong>Blood Cultures</strong></a>

            <p>
                Precise diagnostic procedures to identify and treat infections effectively, improving your overall health and well-being.
            </p>

        </div>


        <div class="col margined-page image-text-section" style="display: flex; justify-content: center; align-items: center;">
            <a href="/Home/SpecialisedMedicalProcedures" class="link-primary"><img src="~/img/our-services/SMP.jpg" /></a>

        </div>
    </div>


	<!-- Vaccination -->
    <div class="row pt-4 pb-4" id="vaccination" style="background:#ced4f8;">
        <div class="col margined-page image-text-section" style="display: flex; justify-content: center; align-items: center;">
            <img src="~/img/our-services/Vac.jpg" />

        </div>
        <div class="col margined-page image-text-section">

            <h3 class="pt-5">Vaccination Services</h3>
            <p>
                At E-nompilo Healthcare Centre, we prioritize your health and that of your loved ones. Our Vaccination Services are designed to shield you from a wide array of diseases, including the following.
            </p>

            <strong> Hepatitis A</strong>
            <p>
                Protect yourself against this viral liver infection.
            </p>
            <strong>Hepatitis B</strong>
            <p>Safeguard your health by preventing hepatitis B infection. </p>
            <strong>TB (Tuberculosis) </strong>
            <p>Stay protected against tuberculosis, a potentially serious bacterial infection. </p>
            <strong>Yellow Fever</strong>
            <p>Travel with confidence, knowing you've received the Yellow Fever vaccine. </p>
            <strong>Shingles (Herpes Zoster)</strong>
            <p>Guard against the painful and disruptive shingles virus with our vaccination services. </p>

        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>