@using Microsoft.AspNetCore.Identity;
@using eNompilo.v3._0._1.Areas.Identity.Data;
@using eNompilo.v3._0._1.Models.SystemUsers;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Page Coming Soon";
}

<div class="picture-back bg-opacity-25">
    <div class="text-left">
        <h1 text-center paragraph-text">Page Contents still to come</h1>
    </div>
    <div class="text-center">
        <p>
            <img class="not-found-images" src="~/img/under-construction-removebg-preview.png" height="350px"/><br/><br/>
            The contents of this page are not yet available. Please be patient with us as it will be made available soon. If you have any queries whatsoever, please reach out to us on this page <a asp-controller="Home" asp-action="Index" asp-fragment="contact">here.</a> @*You can also find additional contact details here.*@
        </p>
    </div>
</div>