@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1><strong>Let us refresh your mind!</strong></h1>

<div class="justify-content-center">
    <h4>Treating Minor Infections</h4>
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bSQbgiy3KB0?si=8VwEa_2-ei86yWv0" title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br />
    <br />
    <h4>Wound Dressing</h4>
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MqnLb3qhWQk?si=qozV15g-_vbZlcRM" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br />
    <br />
    <h4>Antenatal Care</h4>
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1ecklK0dlLE?si=pBMNpbz8RtIjj9Bo" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br />
    <br />
    <h4>Suturing</h4>
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5Sfz8EmCpio?si=ryMKMFuUs9RHLppe" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br />
    <br />
    <h4>Collecting Blood Cultures</h4>
    <br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SHx_P08m3_Y?si=bO3GIapeSjP1soxF" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br />
</div>
