@model eNompilo.v3._0._1.Views.Home.ReceptionistDashboardModel;

<h1><strong>Welcome to eNompilo </strong></h1>

<div class="justify-content-center">
    <div class="page-content page-container" id="page-content">
        <div class="padding ">
            <div class="row container d-flex justify-content-center" style="margin-left:auto; margin-right:auto;">

                <div class="col-lg-8 grid-margin stretch-card" style="width:180vh;">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">BOOKED APPOINTMENTS</h4>
                            <div class="table-responsive">
                                <table class="table-borderless">
                                    <thead class="table-bordered">
                                        <tr>
                                            <th class="col-2">Full Name</th>
                                            <th class="col-2">Appointment</th>
                                            <th class="col-2">Appointment Date</th>
                                            <th class="col-2">Appointment Time</th>
                                            <th class="col-2">Practitioner</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Samso Park</td>
                                            <td>Counselling</td>
                                            <td>12 May 2017</td>
                                            <td>12:30</td>
                                            <td>Ms Hanisa Hintsa</td>

                                        </tr>
                                        <tr>
                                            <td>Samso Park</td>
                                            <td>Counselling</td>
                                            <td>12 May 2017</td>
                                            <td>12:30</td>
                                            <td>Ms Hanisa Hintsa</td>

                                        </tr>
                                        <tr>
                                            <td>Samso Park</td>
                                            <td>Counselling</td>
                                            <td>12 May 2017</td>
                                            <td>12:30</td>
                                            <td>Ms Hanisa Hintsa</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="padding">
    <div class="row">
            <div class="card-group row container d-flex justify-content-center" style="margin-left:auto; margin-right:auto;">

                    <div class="col-sm-5">
                    <div class="card">
                        <div class="card-header"><strong>Registered Patients</strong></div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                        <th scope="col"><strong>Patient</strong></th>
                                        <th scope="col"><strong>Date Created</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-borderless">
                                        <tr>
                                            <td>Jake Zulu</td>
                                            <td>23 August 2023</td>
                                        </tr>
                                        <tr>
                                            <td>Nokuzola Bennette</td>
                                            <td>19 July 2023</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                    <div class="card">
                            <div class="card-header"><strong>Diagnosis</strong></div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col"><strong>Practitioner</strong></th>
                                            <th scope="col"><strong>Profession</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-borderless">
                                        <tr>
                                            <td>Dr John Jenkins</td>
                                            <td>General Surgeon</td>
                                        </tr>
                                        <tr>
                                            <td>Ms Nomzamo Magxeka</td>
                                            <td>Counsellor</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>

            </div>
    </div>
    </div>
</div>
<br />
<br />
<br />
<br />
