* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/*    outline: 3px solid red !important;
    z-index: 5000;*/
}

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1925px) {
    html {
        font-size: 20px;
    }
}

.modal-dialog {
    z-index: 2;
}

.modal-backdrop {
    z-index: 1 !important;
}

html {
    position: relative;
    min-height: 100%;
}

h1, h2 {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.caro-img {
    opacity: 0.7;
}

body {
    background-color: #e4e7fb !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

footer {
    background-color: white;
    bottom: -20px;
    position: sticky;
    width: 100%;
    height: fit-content;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(4, auto);
    font-size: 15px;
    text-decoration: none;
    color: #ced4f8;
}

@media (max-width: 768px) {
    footer {
        grid-template-columns: repeat(1, auto);
    }

    .margined-page {
        margin-left: 25px;
        margin-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .mission-div{
        flex-direction: column-reverse;
        width: 100%;
    }
}

.footer a {
    text-decoration: none;
    color: #ced4f8;
}

{
}

a.mail {
    text-decoration: underline;
    color: dodgerblue;
}

.emergency {
    text-decoration: none;
    color: #1e36cc;
}

.container i {
    font-size: 20px;
    margin-right: .5rem;
}

.iconic {
    /*padding-left: .5rem;
    width: 172px;*/
    margin: 10px 0 auto 0;
}

.back-to-top {
    padding: 10px;
    position: fixed;
    right: 5px;
    bottom: 5px;
}

.login-logout-card .card-header {
    padding: 0px 0px 12px 0px;
}

.login-logout-card ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

.login-logout-card a.nav-link {
    font-size: 1rem;
    color: #495057;
    text-align: center;
    padding: 1rem;
}

.login-logout-card .card-body {
    padding: 0px 0px;
}

.border-effect {
    border: none;
    border-bottom: 1px solid #1E1E1E;
}

.text-changed {
    color: #0066ff;
}

.font-a-icon {
    font-size: larger;
}

.nav-link-2 {
    color: #777777;
}

.btn-toolbar {
    margin-top: 0;
    margin-bottom: 0;
    /*    border-radius: 35px 35px;*/
    width: 375px;
    height: 75px;
}
/*35px*/

/*.intro{
    color:darkcyan;
}*/

.margined-page {
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.images, .buttons {
    margin-left: auto;
    margin-right: auto;
}

.staff-images {
    width: 313px;
    transition: all 0.3s;
}

.head-image .staff-images:hover {
    opacity: 0.85;
    transform: scale(1.1);
}

.text-container {
    padding: 0px 150px 0px 150px;
}

.login-dd {
    margin-right: auto;
}

.user-dropdown {
    right: 0;
    left: auto;
}

.cards-grouped {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

@media (max-width: 765px) {
    .unaligned-text {
        text-align: center;
    }

    .staff-images {
        width: 235px;
        transition: all 0.3s;
    }

    .not-found-images {
        height: 248px;
    }

    .user-dropdown {
        right: auto;
        left: auto;
    }

    .head-image .staff-images:hover {
        opacity: 0.7;
        transform: scale(1.1);
    }

    th {
        display: none;
    }

    td {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
    }

        td:before {
            content: attr(data-cell) ": ";
            font-weight: 700;
        }
    .toBeHid{
        display: none;
    }

    .unhid{
        display: block;
    }

    .mob-inline-appointments{
        display: inline;
    }
}

@media (min-width: 991px) {
    .dd-toggle {
        margin-left: -15px;
    }
}

@media (max-width: 991px) {
    .hero-sect {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .head-image .head-details {
        margin-left: auto;
        margin-right: auto;
    }

    .images, .buttons {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        padding: 2%;
    }

    .btn-toolbar {
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 35px;
        width: 290px;
        height: 65px;
    }

    .card-container {
        margin-left: auto;
        margin-right: auto;
    }

    .text-container {
        padding: 0px 25px 0px 25px
    }

    .unaligned-text {
        text-align: center;
    }

    .head-image .staff-images:hover {
        opacity: 0.7;
        transform: scale(1.1);
    }
}

.picture-back {
    background-image: url('opaque stethoscope.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top, rgba(226,226,226,0) 0%, rgba(226,226,226,0.2) 20%, rgba(226,226,226,0.4) 80%, rgba(226,226,226,0.9) 100% ), url('opaque stethoscope.png');
}

.manual-container {
    padding: 0px 0px 0px 0px;
    margin: -20px 0px 20px 0px;
}

.cards-grouped {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.services-card {
    opacity: 0.8;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5px;
    transition: all 0.3s;
}

    .services-card:hover {
        opacity: 1;
        transform: scale(1.1);
        background-color: #e2e2e2 !Important;
        /*color:white !important;*/
        box-shadow: gray 3px 3px 5px 6px;
    }

/*.services-card:hover a{
        color: #777777 !important;
    }*/
.card-colour {
    background-color: #f1ebeb;
}





/* Header background image */
.new-header {
    /* /*        background-image: url('header-background.jpg'); */ */ background-image: url('img\our-services\healthcare.jpg'); /* Replace with your background image path */
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 0;
}

/* Section background colors */
.blue-bg {
    background-color: #3498db; /* Blue background color */
    color: white;
}

/*.white-bg {
    background-color: #fff;*/ /* White background color */
/*color: #333;*/ /* Text color on white background */
/*}*/

/* Image and text alignment */
.image-text-section {
    /*display: flex;*/
    align-items: center;
}

    .image-text-section img {
        max-width: 100%;
        height: auto;
    }

.icons {
    font-size: 40px;
}

image-align {
    max-width: 100%;
    height: auto;
}

.smp-btn-align {
    text-align: center;
}


/*Splash Sct=reen content style*/


/* The element to apply the animation to */

.couContainer {
    min-width: 100vw;
    min-height: 100vh;
}

.sphere {
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 50%;
    animation: scaleAnimation 3.25s infinite alternate, backgroundAnimation none 3.25s infinite alternate;
    margin-top: 15%;
    margin-left: 30%;
    margin-right: auto;
    position: relative;
}

#couText {
    z-index: 1000;
    width: 100%;
    height: 100%;
}


@keyframes scaleAnimation {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}


@keyframes backgroundAnimation {
    from {
        background-image: url('breathe_out.png');
        background-size: contain;
        transition: none !important;
    }

    to {
        background-image: url('breathe_in.png');
        background-size: contain;
        transition: none !important;
    }
}
