@model eNompilo.v3._0._1.Models.GBV.SupportMembership
@using eNompilo.v3._0._1.Constants;
@inject IHttpContextAccessor contextAccessor

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="margined-page pt-4">
    <h2>Register For The GBV Support Group</h2>

    <div class="row align-items-centre">
        <v class="col-md-4" style="margin-left:auto;margin-right:auto;">
            <form asp-action="create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-4">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control"  />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Cell" class="control-label"></label>
                    <input asp-for="Cell" class="form-control" />
                    <span asp-validation-for="Cell" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>            
                <div class="form-group mb-4">
                    <label asp-for="gender" class="control-label"></label>
                    <select asp-for="gender" class="form-control">
                        <option disabled selected hidden>Please select an option</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <span asp-validation-for="gender" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Reported" class="control-label"></label>
                    <select asp-for="Reported" class="form-control">
                        <option disabled selected hidden>Please select an option</option>
                        <option value=@true>Yes</option>
                        <option value=@false>No</option>
                    </select>
                    <span asp-validation-for="Reported" class="text-danger"></span>
                </div>
              
                <span class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmBookingModal">Register</span>

                <div class="modal fade" id="confirmBookingModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="text-danger">Confirm </h5>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Are you sure want to register for the GBV Support Group
                                </p>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Submit" class="btn btn-primary" />
                                <span class="btn btn-secondary" data-bs-dismiss="modal">Close</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                </div>
            </form>
        </div>
    </div>
</div>
<div>
		<a asp-controller="Home" asp-action="Index">Back to Home</a>
	</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
    </script>
}




