@{
	ViewData["Title"] = "Breathing Exercise";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<h1>Breathing Exercise</h1>
<div class="couContainer">

	<div id="sphere" class="sphere">
	</div>
</div>